@model videozid.Models.TipSadrzaja

@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>TipSadrzaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> 
    <a class="btn btn-primary" asp-action="Index">Povratak</a>
</div>
