@model IEnumerable<videozid.Models.TipServisa>


@{
    ViewData["Title"] = "Tipovi servisa";
}
<!DOCTYPE html>
<meta charset="ISO-8859-1"> 

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tip servisa</title>

    <script>

        function deleteRow(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAsync", "TipServisa")",
                data: { id: id },
                ajaxasync: true,
                success: function (data) {
                    $('#tablica').DataTable()
                        .row(document.getElementById('row-'.concat(id)))
                        .remove()
                        .draw();
                },
                error: function (data) {
                    alert("Greška");
                }
            });
        }

    </script>

</head>
<body>

    <div class="row">
        <br /> <br />
        <h3>Tip servisa (Šifrarnik - jednostavan prikaz)</h3>
        <br />
    </div>

    <div class="row" id="tableDiv">
        @Html.Partial("TableView")
    </div>
       
    @*<div class="row">
        <p>
            <a class="btn btn-primary" asp-controller="TipServisa" asp-action="Create">Novi tip</a>
        </p>
    </div>*@
   
</body>
</html>

@section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
}

@section scripts{
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
  $(document).ready(function(){
      $('#tablica').DataTable();
  });
    </script>
}

