@{

    ViewData["Title"] = "WEB API Prezentacije";
}

@model int

<h4>Uredi osnovne informacije o prezentaciji</h4>

<div class="col-xs-12">
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">X Koordinata</label>
        <div class="col-md-10">
            <input class="form-control" id="xkoord" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="col-md-2 control-label">Y Koordinata</label>
        <div class="col-md-10">
            <input class="form-control" id="ykoord" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="col-md-2 control-label">Širina</label>
        <div class="col-md-10">
            <input class="form-control" id="sirina" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="col-md-2 control-label">Visina</label>
        <div class="col-md-10">
            <input class="form-control" id="visina" />
        </div>
    </div>
    <br /><br />

    <div class="form-group">
        <label class="col-md-2 control-label">Sadržaj</label>
        <div class="col-md-10">
            <select class="form-control" id="sadrzaj">
                <option value="">--</option>
            </select>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="col-md-2 control-label">Kategorija</label>
        <div class="col-md-10">
            <select class="form-control" id="kategorija">
                <option value="">--</option>
            </select>
        </div>
    </div>
    <br /><br />


    <div class="btn-group">
        <input id="submit" value="Gotovo" class="btn btn-success btn-sm" />
        <a class="btn btn-danger btn-sm" id="delete">Ukloni</a>
        <a class="btn btn-primary btn-sm" asp-controller="Prezentacija" asp-action="ApiDetails" asp-route-id="@Model">Detalji</a>
        <a class="btn btn-primary btn-sm" asp-controller="Prezentacija" asp-action="ApiIndex">Natrag na popis</a>
    </div>
    <hr />
</div>

@section scripts {
    <script>
        var prez;
        $(document).ready(function () {
            getSadrzaji();
            getKategorije();
            getPrezentacija();
            $("#submit").click(update);

            $("#delete").click(function () {
                if (confirm('Jesi li siguran?')) {
                    $.ajax({
                        type: "DELETE",
                        url: "../../api/Prezentacija/Remove/" + @Model,
                        ajaxasync: false,
                        success: function (data) {

                        },
                        error: function (data) {
                        }
                    });
                    window.location.replace("../ApiIndex")
                }

            })

        });


        function getPrezentacija() {
            $.ajax({
                type: "GET",
                url: "../../api/Prezentacija/Get/" + @Model,
                ajaxasync: false,
                success: function (data) {
                    
                        prez = data;
                        $("#xkoord")[0].value = prez.xKoord;
                        $("#ykoord")[0].value = prez.yKoord;
                        $("#sirina")[0].value = prez.sirina;
                        $("#visina")[0].value = prez.visina;
                        $("#sadrzaj")[0].value = prez.sadrzaj;
                        $("#kategorija")[0].value = prez.kategorija;
            
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function getSadrzaji() {
            $.ajax({
                type: "GET",
                url: "../../api/Sadrzaj/GetAll",
                ajaxasync: true,
                success: function (data) {

                    $.each(data, function () {
                        var opt = document.createElement('option');
                        opt.value = this.id;
                        opt.innerHTML = this.ime;
                        document.getElementById("sadrzaj").appendChild(opt);
                    });
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function getKategorije() {
            $.ajax({
                type: "GET",
                url: "../../api/Kategorija/GetAll",
                ajaxasync: true,
                success: function (data) {

                    $.each(data, function () {
                        var opt = document.createElement('option');
                        opt.value = this.id;
                        opt.innerHTML = this.vrsta;
                        document.getElementById("kategorija").appendChild(opt);
                    });
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function update() {
            var xkoord = $("#xkoord")[0].value;
            if (xkoord == "") {
                alert("Koordinatu je potrebno unijeti!");
                $("#xkoord")[0].select();
                return;
            }

            var ykoord = $("#ykoord")[0].value;
            if (ykoord == "") {
                alert("Koordinatu je potrebno unijeti!");
                $("#ykoord")[0].select();
                return;
            }

            var sirina = $("#sirina")[0].value;
            if (sirina == "") {
                alert("Sirinu je potrebno unijeti!");
                $("#sirina")[0].select();
                return;
            }

            var visina = $("#visina")[0].value;
            if (visina == "") {
                alert("Visinu je potrebno unijeti!");
                $("#visina")[0].select();
                return;
            }

            var sadrzaj = $("#sadrzaj")[0];
            var sel = sadrzaj.options[sadrzaj.selectedIndex];
            sadrzaj = sel.value === "" ? null : sel.value;

            var kategorija = $("#kategorija")[0];
            var sel = kategorija.options[kategorija.selectedIndex];
            kategorija = sel.value === "" ? null : sel.value;

            var data = {
                "Id": @Model,
                "XKoord": xkoord,
                "YKoord": ykoord,
                "Sirina": sirina,
                "Visina": visina,
                "IdSadrzaja": sadrzaj,
                "IdKategorije": kategorija
            }

            $.ajax({
                type: "PUT",
                url: "../../api/Prezentacija/Update",
                ajaxasync: true,
                data: JSON.stringify(data),
                processData: false,
                contentType: 'application/json',
                success: function (data) {
                    alert("Uspjeh!");
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });


        }
    </script>
}