@model videozid.Models.Servisira

@{
    ViewData["Title"] = "Servisira";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Obriši</title>
</head>
<body>

<h3>Jeste li sigurni da želite pobrisati servisira?</h3>
<div>
    <h4>Servisira</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.IdServisNavigation.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdServisNavigation.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUredajNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUredajNavigation.Naziv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Servisira</a>
        </div>
    </form>
</div>
</body>
</html>
